
 <h3>Your Book List</h3>
 
 <div style="width:500px; height:300px;line-height:1.5em; overflow:auto; padding:5px;">
<%@user_books.each.with_index do |book, i|%>
    <p><%= "#{i+1}."%> <%=@user_book_rating%>
    <p><%=@user_book_review%>
   
    <br><a href="/users/user_books/:book_id/edit"><button>Edit Book</button></a></p>
<%end%> 
</div>

 