<h2>Add this Book to your List</h2>

<form name="new_user_book" action="/users/user_books" method="post">

<input type="hidden" name="book_id" value="<%=@book_id%>">
  
<p><label for="rating">Your Book Rating:</label></p>
  <p><input type="text" name="rating"> </input></p>

  <p><label for="book_review">Your Book Review:</label></p> 
  <p><textarea rows="4" cols="50" name="book_review"> Write review here</textarea>
  </input></p>

  <input type="submit" value="Add Book">
</form></p>