<h1>Add a new Book</h1>
<form method="post" action="/books">
<label for="book_title">
  <input type="text" name="pet[name]" id ="pet_name"> </input>
    <label> Title: </name>
    <input type="text" name="owner[name]" id="owner_name">
    <input type="submit" value="Create Pet">
  </form>
