<h2>Add a new Book to your List</h2>

<form method="post" action="/user_books">
<p><label for="book_title">Title:</label>
<input type="text" name="book[title]" id ="book_title"> </input></p>
<p><label for="book_author">Author:</label>
<input type="text" name="book[author]" id ="book_author"> </input></p>
<p><label for="book_description">Description:</label>
<input type="text" name="book[description]" id ="book_description"> </input></p>
<p><label for="book_rank">Rank:</label>
<input type="text" name="book[rank]" id ="book_rank"> </input></p>
  
<label>Check if you have read this book</label>
<br><input type="checkbox" name="book[title]" value="/user_books">Read?<br><p>  
<p><input type="submit" value="Create Book"></p>
</form>