<h1>Add a new Book</h1>
<form method="post" action="/books">
<label for="book_title">
  <label> Title: </label>
  <input="text" name="book[title]" id="book_title" value="<%=@book.title%>">
  <label> Author: </label>
  <input="text" name="book[author]" id="book_author" value="<%=@book.author%>">
  <label> Description: </label>
  <input="text" name="book[description]" id="book_description" value="<%=@book.description%>">
  <label> Rank: </label>
  <input="text" name="book[rank]" id="book_rank" value="<%=@pbook.rank%>">
  <input type="submit" value="Add Book">
  </form>
