<h3>Update User Account</h3>
<form action="/users/home" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p><label for="book_title">New Username:</label>
  <input type="text" name="username" id ="user_id"> </input></p>

<input="text" name="username" id="user_name" value="<%=@username%>">
  <input type="submit" value="Update My Usename">
</form>