<h1>Update User Account</h1>
<form action="/userss/<%=@user.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

<label> Username: </label>

<input="text" name="username" id="user_name" value="<%=@username%>">
  <input type="submit" value="Update My Usename">
</form>