<!DOCTYPE html>
<html>
<head>
<head>
<p><center><h2>- Your NY Times Bestseller Dashboard -</h2></center></p>
</head>
<body>
<p><h3>Welcome <%=current_user.username%>,</h3></p>
<h3>Your books</h3>
 
<%=@book%>
<%@book.each do |book|%>
 <p><%=book.title%></p> 
<%end%>

<center>
<a href="/user_books/new">Add Book</a>
<a href="/user_books/edit">Edit Books</a>
<a href="/users/:id/edit">Edit Account</a>
<a href="/logout">Log Out</a>
</center>
</body>
<html>



