<!DOCTYPE html>
<html>
<head>
<head>
<p><center><h2>- Your Dashboard -</h2></center></p>
</head>
<body>
<h3>Welcome <%=current_user.username%>,</h3> 
<a href="/users/:id/edit">Edit Account</a>
<a href="/logout">Log Out</a>

<p><h3>NY Times Bestseller Hardcover Fiction</h3></p>
 
<p><%=@ny_times_list%><p/>
<p><a href="/user_books/new">Add Book</a></p>
</body>
<html>



