<h2>Update Your Book</h2>
<form action="/users/user_books/:book_id" method="post">
  <input id="book_id" type="hidden" name="_method" value="patch">

  <p><label for="rating">Your Book Rating:</label></p>
  <p><input type="text" name="rating"> </input></p>

  <p><label for="book_review">Your Book Review:</label></p> 
  <p><textarea rows="4" cols="50" name="book_review"> Write review here</textarea></input></p>

  <input type="Submit" value="Submit">
</form> 


<form action="/users/user_books/:id/delete" method= 'post'>
<input type='hidden' name='_method' value='delete'>
<input type='submit' value='Delete Book' id= 'Delete Book'>
</form>