<div class="container">
  <header><img src="images/book.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    
    <div class="content">
    <h3>Keep a record on NY Times Bestseller Books</h3>
      <p> The purpose of this app is to create a NY Times bestseller database that 
      allows users to create an account and add books from the NY Times list to their 
      account. Users can also update the book information in their account and delete 
      a book from their account. Only users who are signed up have access to this database 
      and can add, edit, delete books from their account.</p>
    </div>

    <div class="sidebar">
      <h3>Login or Create an Account</h3>
      <p> <form action="/login"> <input type="submit" value="Login" /></form> 
      <p><form action="/signup"> <input type="submit" value="Signup" /></form>
    </div>

  </div>
</div>
