<center><h1>NY Times Book Tracker Sign Up</h1></center>

<p><center><form action="/signup" method="POST"/>
  <p>Username: <input type="text" name="username"/></p>
  <p>Email: <input type="text" name="email"/></p>
  <p>Password: <input type="text" name="password"/></p>
  <input type="submit" value="Sign Up"/>
</form>